
html{
    width:100%;
}
.navbar{
    overflow: hidden;
    background-color: #ADD8E6;
}
.navbar a{
 float:left;
 display: block;
 color: #6B6B6B;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
a:hover {
    background-color: #15abdd;
  }

.navbar input[type=text] {
    float: right;
    padding: .5%;
    border: none;
    margin-top: .5%;
    margin-right: 4%;
    font-size: 17px;
}  
 



body{
    width: 100%;
    background-color: cyan;
    overflow: hidden;
}
body div{
    background-color: #3cadd2;
    
    padding: 1%;
}
.content{
    background-color: #3cadd2;
    margin-right: 15%;
    margin-left: 15%;
    
    padding: 1%;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }